<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <form method="POST" action="http://localhost:8080/chats/list?_method=PATCH">
        <label for="toChat">Enter your name</label>
        <input type="text" name="toChat" id="toChat">
        <button>search</button>
    </form>
    <form method="GET" action="http://localhost:8080/chats/new">
        <button>New Chat</button>
    </form>
    <% for(chat of chats){ %>
        <div class="chat">
            <p>from: <i>
                    <%= chat.from %>
                </i></p>
            <div class="msg">
                <%= chat.massage %>
                <form method="GET" action="http://localhost:8080/chats/<%= chat._id %>/edit">
                    <button class="editBtn">edit</button>
                </form>
            </div>
            <p>to: <i>
                    <%= chat.to %>
                </i></p>
            
            <hr>
            <p><i>
                <%= chat.created_at.toString().split(" ")[4] %>
            </i></p>
            <p><i>
                <%= chat.created_at.toString().split(" ").slice(0, 1).join(" ") %>
                <%= chat.created_at.toString().split(" ").slice(1, 4).join("-") %>
            </i></p>
        </div>
        <% } %>
</body>

</html>